<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442305762352-trqennerk6s51u2qov46a8d1ell1kb1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442305762352-trqennerk6s51u2qov46a8d1ell1kb1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBeHLu5tV8z_kz_l_CFGSUaiKSBJwEqK7g</string>
	<key>GCM_SENDER_ID</key>
	<string>442305762352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapExam</string>
	<key>PROJECT_ID</key>
	<string>myfirst-1e42d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-1e42d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442305762352:ios:fde0d2e0ed6d5e8ab589f5</string>
</dict>
</plist>